
body {
  background-image: url(../media/hero.svg);
  background-repeat: no-repeat;
  background-size: 115em;
  background-position-x: right;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: white;
}

.shift {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  width: 22rem;
  color: #fff;
  margin-top: 1rem;
}

.shifter{
  width: 98vw;
}

.buy {
  border-right: 1px solid #fff;
  width: 4rem;
}

.butt {
  height: 2.5rem;
  width: 8rem;
  color: #fff;
  border-radius: 5px;
  border: #fff 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10rem;
}

.font {
  font-size: 45px;
  line-height: 2.8rem;
  color: #3d396b;
}

.offer {
  font-size: 14px;
  color: #3d396b;
  line-height: 3px;
}

.email {
  border: 0.5px solid #787878;
  border-radius: 100px;
  width: 20rem;
  height: 3rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  border: none;
}

.point {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #6d30ed;
  border-radius: 50%;
  color: #fff;
  padding-left: 1.2rem;
  padding-top: 1.3rem;
}

.mail {
  color: #787878;
  padding-left: 12px;
}

.image {
  width: 35rem;
  height: 30rem;
}