* {
  padding: 0;
  margin: 0;
}


body {
  background-image: url(../media/hero.svg);
  background-repeat: no-repeat;
  background-size: 110em;
  background-position-x: right;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.shift {
  width: 2rem;
  height: 2rem;
  margin: 1rem;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero {
  width: 22rem;
  color: #fff;
  margin-top: 1rem;
}

.shifter{
  width: 98.5vw;
}

.buy {
  border-right: 1px solid #fff;
  width: 4rem;
}

.butt {
  height: 2.5rem;
  width: 8rem;
  color: #fff;
  border-radius: 5px;
  border: #fff 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 10rem;
}

.font {
  font-size: 45px;
  line-height: 2.8rem;
  color: #3d396b;
  padding-bottom: 10px;
}

.offer {
  font-size: 16px;
  color: #3d396b;
  padding-bottom: 10px;
}

.email {
  border: 0.5px solid #c7c4c4;
  border-radius: 100px;
  width: 23rem;
  height: 3rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input {
  border: none;
}

.point {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #6d30ed;
  border-radius: 50%;
  color: #fff;
  padding-left: 1.2rem;
  padding-top: 1.3rem;
}

.mail {
  color: #787878;
  padding-left: 12px;
}

.image {
  width: 35rem;
  height: 30rem;
}

.bgc2 {
  background-image: url(../media/feature1.svg);
  background-size: 100rem;
  background-position-x: left;
  width: 80vw;
  height: 100vh;
  padding-bottom: 10rem;
  background-repeat: no-repeat;
  /* position: absolute; */
}

.fast {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 5rem 0 0 20rem;
}

.img {
  height: 25rem;
  width: 30rem;
}

.trans {
  margin-top: 10rem;
}

.trans h3 {
  font-size: 34px;
  color: #3d396b;
  font-family: cursive;
}

.trans {
  color: #6d396b;
  padding: 1rem;
  font-size: 1rem;
  font-family: cursive;
}

 .wallets {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-top: 2rem; 
}

.coin {
  background-color: white;
  height: 4.5rem;
  width: 6rem;
  box-shadow: 1px 1px 3px 1px lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.crypto {
 height: 2.5rem;
 width: 2.5rem;
}

.content2 {
  background: #F6F9FE;
  height: 200vh;
  background-repeat: no-repeat;
  position: relative;
}

.content2:before {
  content: '';
  position: absolute;
  height: 7rem;
  width: 3.95px;
  background-color: #6338ff;
  margin-left: 50vw;
  margin-top: -3rem;
}

.head {
  margin-top: 3rem;
  margin-left: 46rem;
  font-size: 62px;
  opacity: 0.1;
}


.head2 {
  margin-left: 52rem;
  font-size: 30px;
  color: #3d396b;
  margin-top: -2.8rem;
}

.how {
  margin-left: 51rem;
  color: #787878;
  font-size: 20px;
}

.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pic {
  height: 32rem;
}

.deal {
  padding-left: 1rem;
}

.tons {
  color: #3d396b;
  font-family: "Montserrat", sans-serif;
}

.explain {
  color: #59549d;
  font-family: "Montserrat", sans-serif;
  padding-top: 1rem;
  opacity: 0.9;
}